<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to <span class="blink">{{ title }}!</span>
  </h1>
</div>

<div style="box-shadow: 1px 2px 2px lightslategrey;">
  <marquee style="color:maroon;">Marvellous Infosystems Technical Hub</marquee>
</div>
<br>

<div style="height:20%;width:30%;box-shadow: 1px 2px 2px lightslategrey;
margin-left: auto; margin-right: auto;"><br>
<div style="text-align: center;">
  <form>
 <input>
  <label style=" display: inline-block; 
  margin-left: 40px;">Marvellous Infosystems</label>
  </form>
</div>
<br>
</div>


